@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    width: 100vw;
    height: 100vh;
}

input {
  background-color: transparent;
  border: 0px solid !important;
}

input:focus {
  outline: 0 !important;
}

div#app {
    /* height: 100% ; */
    width: 100%;
    @apply absolute inset-0; /* mt-20 ; */
}

.ticker {
  height:150px;
  overflow: hidden;
  padding: 10px 0;
  position: relative;
  white-space: nowrap;
}

.ticker>ul {
  display: inline-block;
  animation: 60s ticker infinite linear;
}

.ticker>ul>li {
  display: inline-block; 
  height:150px;
  width:300px;
  margin: 0 40px;
}

.ticker>ul>li img {
  display:unset;
  max-width: unset;
  height:150px;
  width:300px;
  object-fit: cover;
}

.ticker:hover>ul {
  animation-play-state: paused;
}

.ticker:before,
.ticker:after {
  position: absolute;
  top: 0;
  width: 150px;
  height: 100%;
  content: "";
  z-index: 2;
}

.ticker:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.ticker:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}


@keyframes ticker {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}